{% extends 'modular/text.html.twig' %}

{% block contents %}
	<!-- FOOTER COLS -->
	<!-- {{ content|raw }} -->	
	{% for column in content|split('<hr>') %}
		<div class="col-6">
			{{ column|raw }}
		</div>

	{% endfor %}
{% endblock %}
