{% spaceless %}

{% set block_class = header.block.column|default('col')|join(" ") ~
       " rounded-" ~ header.block.rounding|default("default") ~
               " " ~ header.block.bg_class ~
               " " ~ header.block.padding|join(" ") ~
               " " ~ header.block.margin|join(" ") ~
               " " ~ header.block.text_color ~
               " " ~ header.block.text_size ~
               " " ~ header.block.text_style ~
               " " ~ header.block.custom_classes 
               %}

{% set image = page.media.images|first %}

{% set image_classes = header.image.size|default("img-fluid") ~
         " rounded-" ~ header.image.rounding|default("0") ~
                 " " ~ header.image.align|default("float-none")|join(" ") ~
                 " " ~ header.image.custom_classes
                %}

{% endspaceless %}

<div class="{{ block_class }}">

    {% if image %}  
        {% if header.image.lightbox_enabled == 1 %}
            <a href="{{ image.url }}" class="glightbox">
        {% endif %}    
        
        {{ image.html('', '', image_classes)|raw }}
        
        {% if header.image.lightbox_enabled == 1 %}
            </a>
        {% endif %}    
    {% endif %}

    {{ page.content|raw }}
</div>
