{% set image = page.media.images|first %}

<div class="{{ header.column|default('col') }} {{ header.columns_breakpoints|join(" ") }}">
    {% if image %}
        {{ image.cropResize(400, 400).html('', '', 'd-block rounded float-md-' ~ page.header.image_align)|raw }}
    {% endif %}

    {{ page.content|raw }}
</div>
