
<div class="footer text-center container">
    <div class="row">
        <div class="col text-right mr-1">
            <i class="fas fa-code"></i> with <a href="https://getgrav.org">Grav</a>
        </div>
        <div class="col text-left ml-1">
            Site and design by TomSquared
        </div>
    </div>
</div>