
{% set footer = theme_var('footer') %}

<div class="footer {{ footer.container }} {{ footer.bgstyle }} {{ footer.classes }} {% if footer.sticky %} mt-auto{% endif %}">
    <div class="row">
        <div class="col">
            {{ footer.content|markdown }}
        </div>
    </div>
</div>


