{% spaceless %}

	{% set block_data = page.header.block %}
	{% set text       = page.header.text %}
	{% set jumbotron  = page.header.jumbotron %}
	{% set j_image    = page.header.jumbotron.image ? page.media[page.header.jumbotron.image] %}

	{% set class_array = [
		block_data.column|default("col")|join(" "),
		block_data.bg_class|default("bg-light")|join(" "),
		block_data.padding|default("p-3")|join(" "),
		block_data.margin|default("my-3")|join(" "),
		"rounded-" ~ block_data.rounding|default(0)|join(" "),
		block_data.custom_classes,
		text.color|default("text-dark")|join(" "),
		text.size|join(" "),
		text.style|join(" "),
		text.alignment|join(" ")
	] %}
	{% set inner_class = class_array|join(" ") %}


	{% set custom_style = "" %}

	{% if jumbotron.min_height > 0 and jumbotron.max_height > 0 %}
		{% set custom_style = custom_style ~ "height: clamp(" ~ jumbotron.min_height ~ jumbotron.min_height_units|default('em') ~ ", " ~ jumbotron.pref_height|default(jumbotron.min_height) ~ jumbotron.pref_height_units|default(jumbotron.min_height_units|default('em')) ~ ", " ~ jumbotron.max_height ~ jumbotron.max_height_units|default('em') ~ ");" %}
	{% else %}
		{% if jumbotron.min_height > 0 %}
			{% set custom_style = custom_style ~ "min-height: " ~ jumbotron.min_height ~ jumbotron.min_height_units|default('em') ~ ";" %}
		{% endif %}
		{% if jumbotron.max_height > 0 %}
			{% set custom_style = custom_style ~ "max-height: " ~ jumbotron.max_height ~ jumbotron.max_height_units|default('em') ~ ";" %}
		{% endif %}
	{% endif %}

	{% set custom_style = custom_style ~ jumbotron.style %}

	{% if j_image %}
		{% if jumbotron.image_blur > 0 %}
			{% set style_bg_image = "background-image: url('" ~ j_image.gaussianBlur(jumbotron.image_blur|default(0)).url ~ "'); " %}
		{% else %}
			{% set style_bg_image = "background-image: url('" ~ j_image.url ~ "'); " %}
		{% endif %}

		{% if jumbotron.image_align %}
			{% set style_bg_image = style_bg_image ~ "background-size: cover; background-position: " ~ jumbotron.image_align|join(' ')|replace({'2':''}) ~ ";" %}
		{% endif %}
	{% endif %}

{% endspaceless %}

<div style="{{ custom_style }} {{ style_bg_image }}" class="{{ inner_class }}">
	{% if jumbotron.constrain_content == 1 %}
		<div class="container">
			<div class="col">
			{% endif %}

			{{ page.content|markdown }}

			{% if jumbotron.constrain_content == 1 %}
			</div>
		</div>
	{% endif %}
</div>
