{% extends 'partials/base.html.twig' %}

{% block jumbotron %}
    {% if page.header.jumbotron.enabled == 1 %}
        {% include 'partials/jumbotron.html.twig' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ page.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}