{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="{{ header.column|default('col') }} {{ header.custom_classes }}">
        {{ content|raw }}

        {% include "forms/form.html.twig" %}
    </div>
{% endblock %}
