{% extends 'partials/base.html.twig' %}

{% set has_map = (has_map|default(0)) %}

{% block content %}
    <!-- Start of modular content -->


    {% for item in page.collection %}
        {% if not item.first and (item.header.row.forcenew == "1" or item.header.container.forcenew == "1") %}
            </div>
        {% endif %}
        {% if not item.first and item.header.container.forcenew == "1" %}
        </div>
        {% endif %}

        {% if item.first or item.header.container.forcenew == "1" %}
            <div class="{{ item.header.container.class|default("container") }} {{ item.header.container.custom_class }}">
        {% endif %}

        {% if item.first or item.header.container.forcenew == "1" or item.header.row.forcenew == "1"%}
            <div class="row {{ item.header.row.custom_class }}">
        {% endif %}

        {% if item.template() == "modular/map" %}
            {% set has_map = 1 %}
        {% endif %}


            {{ item.content|raw }}

        {% if item.last %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
    <!-- // End modular content  -->

    {% if has_map > 0 %}
        {% if theme_var('map.api_key') and theme_var('map.type') == 'google' %}
            {%  include 'partials/map-google-js.html.twig' %}
        {% elseif theme_var('map.type') == 'osm' %}
            {%  include 'partials/map-osm-js.html.twig' %}
        {% endif %}
    {% endif %}
{% endblock %}
