// T2B5 ~ styles.scss 
//
// Custom styles can go in here and will be imported before the 
// Bootstrap & Bootswatch frameworks

html {
	/* foo */
}

body {}

nav {
	//margin-top: 8em !important;
}



// ██████╗  █████╗  ██████╗██╗  ██╗ ██████╗ ██████╗  ██████╗ ██╗   ██╗███╗   ██╗██████╗ ███████╗
// ██╔══██╗██╔══██╗██╔════╝██║ ██╔╝██╔════╝ ██╔══██╗██╔═══██╗██║   ██║████╗  ██║██╔══██╗██╔════╝
// ██████╔╝███████║██║     █████╔╝ ██║  ███╗██████╔╝██║   ██║██║   ██║██╔██╗ ██║██║  ██║███████╗
// ██╔══██╗██╔══██║██║     ██╔═██╗ ██║   ██║██╔══██╗██║   ██║██║   ██║██║╚██╗██║██║  ██║╚════██║
// ██████╔╝██║  ██║╚██████╗██║  ██╗╚██████╔╝██║  ██║╚██████╔╝╚██████╔╝██║ ╚████║██████╔╝███████║
// ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═════╝ ╚══════╝
//                                                                                              

.bg-leaves {
	background-image:
		url("/user/images/patterns/leaves.png"),
		linear-gradient(to right, white 0%, white calc(50% - 400px), transparent calc(50% - 400px), transparent calc(50% + 400px), white calc(50% + 400px), white 100%);
	background-repeat: repeat, no-repeat;
	background-position: center, top;
	background-size: auto, 100% 100%;
	background-blend-mode: multiply;
	/* or 'normal' depending on your pattern */
}

.bg-yso {
	background-image: url("/user/images/patterns/y-so-serious-white.png");
	background-repeat: repeat;
}



// ███╗   ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗     ██████╗ ██████╗  █████╗ ███╗   ██╗██████╗ 
// ████╗  ██║██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔══██╗    ██╔══██╗██╔══██╗██╔══██╗████╗  ██║██╔══██╗
// ██╔██╗ ██║███████║██║   ██║██████╔╝███████║██████╔╝    ██████╔╝██████╔╝███████║██╔██╗ ██║██║  ██║
// ██║╚██╗██║██╔══██║╚██╗ ██╔╝██╔══██╗██╔══██║██╔══██╗    ██╔══██╗██╔══██╗██╔══██║██║╚██╗██║██║  ██║
// ██║ ╚████║██║  ██║ ╚████╔╝ ██████╔╝██║  ██║██║  ██║    ██████╔╝██║  ██║██║  ██║██║ ╚████║██████╔╝
// ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝ 
//                                                                                                  

.navbar-brand img {
	border: --bs-info-text-emphasis;
	border-width: 3px;
	border-style: dotted;
	border-radius: 100%;
	margin-right: 1em;
}



// ███╗   ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗     ██╗     ██╗███╗   ██╗██╗  ██╗███████╗
// ████╗  ██║██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔══██╗    ██║     ██║████╗  ██║██║ ██╔╝██╔════╝
// ██╔██╗ ██║███████║██║   ██║██████╔╝███████║██████╔╝    ██║     ██║██╔██╗ ██║█████╔╝ ███████╗
// ██║╚██╗██║██╔══██║╚██╗ ██╔╝██╔══██╗██╔══██║██╔══██╗    ██║     ██║██║╚██╗██║██╔═██╗ ╚════██║
// ██║ ╚████║██║  ██║ ╚████╔╝ ██████╔╝██║  ██║██║  ██║    ███████╗██║██║ ╚████║██║  ██╗███████║
// ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝    ╚══════╝╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝╚══════╝
//

.nav-link {
	display: inline-block;
	position: relative;
	color: #fefefe;
}

.nav-link::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0;
	left: 0;
	background: radial-gradient(circle, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 0) 100%);
	transform-origin: bottom center;
	transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
	transform: scaleX(1);
	transform-origin: bottom center;
}



// ████████╗ ██████╗ ██████╗     ██████╗  █████╗ ███╗   ██╗███╗   ██╗███████╗██████╗ 
// ╚══██╔══╝██╔═══██╗██╔══██╗    ██╔══██╗██╔══██╗████╗  ██║████╗  ██║██╔════╝██╔══██╗
//    ██║   ██║   ██║██████╔╝    ██████╔╝███████║██╔██╗ ██║██╔██╗ ██║█████╗  ██████╔╝
//    ██║   ██║   ██║██╔═══╝     ██╔══██╗██╔══██║██║╚██╗██║██║╚██╗██║██╔══╝  ██╔══██╗
//    ██║   ╚██████╔╝██║         ██████╔╝██║  ██║██║ ╚████║██║ ╚████║███████╗██║  ██║
//    ╚═╝    ╚═════╝ ╚═╝         ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝
//

.top-banner p {
	padding-bottom: 0;
	margin-bottom: 0;
}

.top-banner a:active,
a:focus {
	text-decoration: none;
	color: #ddd;
}

.top-banner a:hover {
	text-decoration: none;
	color: #ddd;
}

.top-banner a,
.top-banner a:visited {

	display: inline-block;
	position: relative;
	text-decoration: none;
	color: #fff;
}

/* .top-banner span {
	// Vertical pipe separator
color: #ccc !important;
} */

.top-banner a::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0;
	left: 0;
	background: radial-gradient(circle, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 0) 100%);
	transform-origin: bottom center;
	transition: transform 0.25s ease-out;
}

.top-banner a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom center;
}



//  ██████╗██╗██████╗  ██████╗██╗     ███████╗    ██████╗ ██╗ ██████╗████████╗██╗   ██╗██████╗ ███████╗
// ██╔════╝██║██╔══██╗██╔════╝██║     ██╔════╝    ██╔══██╗██║██╔════╝╚══██╔══╝██║   ██║██╔══██╗██╔════╝
// ██║     ██║██████╔╝██║     ██║     █████╗      ██████╔╝██║██║        ██║   ██║   ██║██████╔╝█████╗  
// ██║     ██║██╔══██╗██║     ██║     ██╔══╝      ██╔═══╝ ██║██║        ██║   ██║   ██║██╔══██╗██╔══╝  
// ╚██████╗██║██║  ██║╚██████╗███████╗███████╗    ██║     ██║╚██████╗   ██║   ╚██████╔╝██║  ██║███████╗
//  ╚═════╝╚═╝╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝    ╚═╝     ╚═╝ ╚═════╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚══════╝
//


.circle-picture {
	overflow: hidden;
	position: relative;
	transition: transform 0.3s ease;
	display: block;
	transform-origin: center center;
	will-change: transform;
	backface-visibility: hidden;
}

.circle-picture:hover {
	transform: scale(1.025);
}



//  ██████╗ █████╗ ██████╗ ██████╗ ███████╗
// ██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔════╝
// ██║     ███████║██████╔╝██║  ██║███████╗
// ██║     ██╔══██║██╔══██╗██║  ██║╚════██║
// ╚██████╗██║  ██║██║  ██║██████╔╝███████║
//  ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝
//

// Card image hover zoom
.card {
	overflow: hidden;
	position: relative;
}

.card img {
	transition: transform 0.3s ease;
	display: block;
	width: 100%;
	height: auto;
	transform-origin: bottom center;
	will-change: transform;
	backface-visibility: hidden;
}

.card:hover img {
	transform: scale(1.04);
}



// ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
// ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
// █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
// ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
// ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
// ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
//

.footer a:active,
a:focus {
	text-decoration: none;
	color: #ccc;
}

.footer a:hover {
	text-decoration: none;
	color: #eee;
}

.footer a,
.footer a:visited {
	text-decoration: none;
	color: #ddd;
	position: relative;
	display: inline-block;
}

.footer span {
	/* Vertical pipe separator */
	color: #ccc !important;
}

.footer p a::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0;
	left: 0;
	background: radial-gradient(circle, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 0) 100%);
	transform-origin: bottom center;
	transition: transform 0.15s ease-out;
}

.footer p a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom center;
}



// ███╗   ███╗██╗███████╗ ██████╗
// ████╗ ████║██║██╔════╝██╔════╝
// ██╔████╔██║██║███████╗██║     
// ██║╚██╔╝██║██║╚════██║██║     
// ██║ ╚═╝ ██║██║███████║╚██████╗
// ╚═╝     ╚═╝╚═╝╚══════╝ ╚═════╝
//                               

abbr[title] {
	//background-image: linear-gradient(to right, rgb(71, 71, 71) 33%, rgba(255, 255, 255, 0) 0%);
	//background-position: bottom;
	//background-size: 3px 1px;
	//background-repeat: repeat-x;
	//text-decoration: none;
}



//  █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗███████╗
// ██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
// ███████║██╔██╗ ██║██║██╔████╔██║███████║   ██║   ██║██║   ██║██╔██╗ ██║███████╗
// ██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║   ██║   ██║██║   ██║██║╚██╗██║╚════██║
// ██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║███████║
// ╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
//                                                                                


/* Define custom delay classes */
.delay-1 {
	--animate-delay: 0s !important;
}

.delay-2 {
	--animate-delay: 0.1s !important;
}

.delay-3 {
	--animate-delay: 0.2s !important;
}

.animate__animated {
	animation-delay: var(--animate-delay) !important;
}