@use "mixins";

// T2B5 ~ typography.scss 
// 
// Make changes to your tyopgraphics settings here. This will affect both CDN and 
// local implementations of the Bootstrap framework.

// Imports fonts from Google Fonts
@include mixins.google-font("Roboto Condensed");
@include mixins.google-font("Montserrat");
@include mixins.google-font("Source Serif 4");

//Set the fonts to vars
$custom-font-1: 'Roboto Condensed', sans-serif;
$custom-font-2: 'Montserrat', sans-serif;
$custom-font-3: 'Source Serif 4', sans-serif;

// Add those fonts to the Bootstrap vars
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

// Assign different fonts to different header sizes
html, body, h4, h5, h6 {
    font-family: $custom-font-2;
}
h1, h2, h3 {
    font-family: $custom-font-3;    
}

.navbar-brand {
    font-family: $custom-font-3;
	font-size: 2em;
	text-shadow: #2d2d2d 1px 0 20px;
  	color: white !important;
}